.vscode/
result/
benchmark/
pythonfdsmpi-centos/configuration.cfg
**.pyc
pythonfdsmpi-centos/batch_metrics.py
pythonfdsmpi-centos/check_progress.py
pythonfdsmpi-centos/batch_metrics_export.py
pythonfdsmpi-centos/check_progressManu.py
